<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.antmall.business.cart.mapper.CartMapper">
    <select id="selectByUserAndProduct"  resultType="com.example.antmall.business.cart.entity.Cart">
        SELECT * FROM t_cart
        WHERE user_id = #{userId}
          AND product_id = #{productId}
            LIMIT 1
    </select>
    <update id="updateSelection">
        UPDATE t_cart
        SET selected = #{selected}
        WHERE id IN
        <foreach item="id" collection="cartIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectCartWithProduct" resultType="com.example.antmall.business.cart.vo.CartItemVO">
        SELECT
            c.id,
            c.product_id AS productId,
            p.name AS productName,
            p.unit_price AS productPrice,
            c.quantity,
            c.selected,
            p.stock_quantity AS stockQuantity,
            (p.unit_price * c.quantity) AS subtotal
        FROM t_cart c
                 LEFT JOIN t_product p ON c.product_id = p.id
        WHERE c.user_id = #{userId}
    </select>
</mapper>

